.waiting-room {
  width: 100%;
  text-align: center;
}

.waiting-dots {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem 0.5rem;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fafffd;
}
.lobby-waiting-indicator {
  display: flex;
  align-items: center;
}

.lobby-waiting-indicator::before,
.lobby-waiting-indicator::after {
  content: "";
  flex: 1;
  height: 1px;
}

.lobby-waiting-indicator span {
  font-weight: 600;
}
.waiting-room-code {
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #336699;
  width: fit-content;
  margin: 1rem auto;
}
.return-lobby {
  margin-top: 1rem;
}
